        <footer>
             <hr />
             CST336 Internet Programming. 2019&copy; Beck <br />
             <br/>
             <a href="https://csumb.edu">
                 <img src="img/csumb.png" width="100" height="67" alt="csumb" id="csumb"/>
             </a>
             <br>
             The information on these pages does not come from a specific source. I have been reading about Bitcoin for over 3 years now. For general info on Bitcoin see: <a href="https://en.wikipedia.org/wiki/Bitcoin">Wikipedia</a>
        
        
        </footer>