        <nav>
            <a href="/"> Intro </a>
            <a href="/history"> History </a>
            <a href="/how"> How It Works </a>
            <a href="/volatility"> Volatility </a>
        </nav>